html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
    background-image: url('/Images/background1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.note-editor .dropdown-toggle::after {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h2 {
    color: #5cb5e1; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: white; 
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.02); 
}

.card-body {
    padding: 10px;
}

.bi {
    color: #5cb5e1; 
}

.btn-success {
    background-color: #5cb5e1; 
    border-color: #5cb5e1;
    color: white; 
    transition: background-color 0.3s ease-in-out;
}

.btn-success:hover {
    background-color: #4699bf; 
    border-color: #4699bf;
}
